@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');

body {
    background-color: #f7faee;
}

h1, h2, h3, h4, h5 {
    font-family: "Candal", sans-serif;
}
h1 {
    font-size: 3.0rem;
}
.navbar-brand {
    font-family: "Candal", sans-serif;
}
@media (max-width: 574px) {
    .schedule .row > .card {
      margin-left: 1rem;
    }
  }
  
.card {
    z-index: 2;
    border: unset;
    box-shadow: 2px 2px 7px #777;
    padding: 0;
}
.card .card-body {
    padding: 0;
    display: flex;
    align-items: center;
}
.card.acoustic {
    position: relative;
    top: 50px;
}
.card:not(.acoustic) {
    border-radius: 0rem 0rem 0.375rem 0.375rem;
}
.card .card-title {
    width: fit-content;
    padding: .5rem;
    background-color: #f3f2d3;
    border-radius: 1rem;
    margin: .5rem;
}
.card .card-text {
    text-align: center;
    width: fit-content;
}
.row hr {
    margin-top: -73px;
}
