---
import 'bootstrap/dist/css/bootstrap.min.css';
import '../styles/global.css';
import Sched from '../components/schedule.astro';
import Navigation from '../components/navigation.astro';
---
<Navigation />
<h1 class="text-center pt-5">Schedule of Events</h1>
<Sched/>
<script>
    import 'bootstrap/dist/js/bootstrap.bundle.min.js';
</script>