<div class="schedule container mt-5" style="max-width: 600px;">
    <div class="row mb-2 gap-3 align-items-baseline">
        <div class="offset-1 col-5 text-center"><h4>Main Stage</h4></div>
        <div class="col-5 text-center"><h5>Acoustic Stage</h5></div>
    </div>
    <div class="row mb-3 gap-3">
        
        <div class="col-1 d-none d-sm-block">
            <div>1pm</div>
        </div>
        <div class="col-sm-5 col-5 card">
            <div class="card-body">
                <div class="card-title">1PM</div>
                <div class="card-text"><strong>Band Together PGH</strong></div>
            </div>
        </div>
        <div class="col-5 card acoustic">
            <div class="card-body">
                <div class="card-title">1:40PM</div>
                <div class="card-text"><strong>Paul Rouse</strong></div>
            </div>
        </div>
        
        
        
    </div>
    <div class="row mb-3 gap-3">
        <hr class="mb-0">
        <div class="col-1 d-none d-sm-block">
            <div>2pm</div>
        </div>
        <div class="col-5 card">
            <div class="card-body">
                <div class="card-title">2PM</div>
                <div class="card-text"><strong>Sad Bulldog</strong></div>
            </div>
        </div>
        <div class="col-5 card acoustic">
            <div class="card-body">
                <div class="card-title">2:40PM</div>
                <div class="card-text"><strong>Wild Bill Cox</strong></div>
            </div>
        </div>
        
        
    </div>
    <div class="row mb-3 gap-3">
        <hr class="mb-0">
        <div class="col-1 d-none d-sm-block">
            <div>3pm</div>
        </div>
        <div class="col-5 card">
            <div class="card-body">
                <div class="card-title">3PM</div>
                <div class="card-text"><strong>Americana</strong></div>
            </div>
        </div>
        <div class="col-5 card acoustic">
            <div class="card-body">
                <div class="card-title">3:40PM</div>
                <div class="card-text"><strong>Michael Berkey</strong></div>
            </div>
        </div>
        
    </div>
    <div class="row mb-3 gap-3">
        <hr class="mb-0">
        <div class="col-1 d-none d-sm-block">
            <div>4pm</div>
        </div>
        <div class="col-5 card">
            <div class="card-body">
                <div class="card-title">4PM</div>
                <div class="card-text"><strong>The 9th Ward</strong></div>
            </div>
        </div>
        <div class="col-5 card acoustic">
            <div class="card-body">
                <div class="card-title">4:40PM</div>
                <div class="card-text"><strong>Devin Russian</strong></div>
            </div>
        </div>
        
    </div>
    <div class="row mb-3 gap-3">
        <hr class="mb-0">
        <div class="col-1 d-none d-sm-block">
            <div>5pm</div>
        </div>
        <div class="col-5 card">
            <div class="card-body">
                <div class="card-title">5PM</div>
                <div class="card-text"><strong>The Laurel Lowlifes</strong></div>
            </div>
        </div>
        <div class="col-5 card acoustic">
            <div class="card-body">
                <div class="card-title">5:40PM</div>
                <div class="card-text"><strong>Ukulele Mollie</strong></div>
            </div>
        </div>
        
    </div>
    <div class="row mb-3 gap-3">
        <hr class="mb-0">
        <div class="col-1 d-none d-sm-block">
            <div>6pm</div>
        </div>
        <div class="col-5 card">
            <div class="card-body">
                <div class="card-title">6PM</div>
                <div class="card-text"><strong>The Turpentiners</strong></div>
            </div>
        </div>
        
    </div>
    <div class=" row mb-3 gap-3">
        <hr class="mb-0">
    </div>
</div>